@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: poppins sans-serif;   
    border: none;
    outline: none;
    text-decoration: none;
    transition: 0.2s linear ;
}

body{
    display: flex;
    background: black;
    justify-content: center;
    flex-direction: column;
    
   


}
.header nav{
   text-align: right;
   padding: 10px;
}

.header nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem, ;
  bottom: none;
  

}

.nav a{
    margin: 0 1rem;
    font-size: 1.4rem;
    color: #fff;
    bottom: none;
    

}

.nav a:hover{
   color: #ffc300;
   padding-bottom:0.5rem ;
   font-size: 2rem;
}

.nav button{
    background-color:#ffc300;
    border: 2px #0000;
    border-radius: 10px;
    color:#000;
    font-size: 1.4rem;
    padding: 0 0.5rem;
}
 nav button:hover{
    padding-bottom:0.5rem ;
   font-size: 2rem;
 }

 .logo{
    text-align: left;
 }

 .deslizar-foto{
   text-align: center;
 }

 .footer{
    margin: 0;
    padding: 0;
    font-family: poppins sans-serif;   
    border: none;
    outline: none;
    text-decoration: none;
 }
 .container-box {
   display: flex;
   flex-direction: column;
   text-align:center;
 }

.container-box .logo-ark{
   text-align: center;
}

.container-box h1{
   color: #fff;
}