@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: poppins sans-serif;   
    border: none;
    outline: none;
    text-decoration: none;
    transition: 0.2s linear ;
}

body{
    display: flex;
    background: black;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    flex-direction: column;
    min-height: 100vh;
}

.header{
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: #000;
}

.header .nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 5%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  bottom: none;
}

.nav a{
    margin: 0 1.5rem;
    font-size: 1.4rem; 
    color: #fff;
    bottom: none;
    text-decoration: none;
}

.nav a:hover{
   color: #ffc300;
   font-size: 1.6rem;
}

.nav button{
    background-color:#ffc300;
    border: 2px solid #000;
    border-radius: 10px;
    color:#000;
    font-size: 1.4rem;
    padding:  0.5rem 0.1rem;
    cursor: pointer;
}

 nav button:hover{
    padding-bottom: 0.5rem ;
   font-size: 1.6rem;
 }
 
.nav img{
  width: auto;
  height: 50px;
}

 .deslizar-foto{
   text-align: center;
   padding: 1.5rem;
  display: flex;
  justify-content: center;

 }

 .footer{
    background-color: #000;
    color: #fff;
    padding: 40px 10% 20px;
    font-family: popping , sans-serif;  
 }
 .container-box {
   display: flex;
   justify-content: center;
   text-align: right;
   gap: 30px;
   color: #000;
   text-decoration: none;
   font-size: 25px;
   flex-direction: column;
 }

.logo-ark img{
   width: 250px;
   padding: 10px;
}
hr{
   border: 0;
   border-top: 1px solid #333;
    width: 100vw;
    left: 50%;
    right: 50%;
    position: relative;
    margin-left: -50vw;
}

.container-box a{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   color:#fff;
   text-decoration: none;
   outline: none;
}

.contato{
   color: #fff;
   text-align: center;
   padding: 10px;
   font-size: 30px;
}
.contato a{
   display: inline-block;
   padding: 10px;
   margin-top: 15px;
   
}
.políticas a{
   display: flex;
   align-items: center;
   justify-content: center;
   color: #fff;
   text-decoration: none;
   outline: none;
   padding: 40px;
   font-size: 30px;
}

.final{
   color: #fff;
   text-align: center;
   font-size: 18px;
   padding: 30px;
}